global
  log /dev/log local0
  log /dev/log local1 notice
  daemon
  maxconn 4096

defaults
  log global
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

# Zabbix Web Frontend
frontend zabbix_http
  bind *:80
  mode http
  default_backend zabbix_web_servers

backend zabbix_web_servers
  mode http
  balance roundrobin
  option httpchk GET /zabbix
  server zbx-web1 192.168.159.133:80 check
  server zbx-web2 192.168.159.134:80 check

# Zabbix Server API
frontend zabbix_server_api
  bind *:10051
  mode tcp
  default_backend zabbix_server_backends

backend zabbix_server_backends
  mode tcp
  balance roundrobin
  option tcp-check
  server zbx-server1 192.168.159.131:10051 check
  server zbx-server2 192.168.159.132:10051 check backup

# Galera DB
frontend mysql
  bind *:3306
  mode tcp
  default_backend galera_cluster

backend galera_cluster
  mode tcp
  balance roundrobin
  option mysql-check user zabbix
  server db1 192.168.159.135:3306 check
  server db2 192.168.159.136:3306 check
  server db3 192.168.159.137:3306 check
