<?php
// Zabbix GUI configuration file.

$DB['TYPE']     = 'MYSQL';
$DB['SERVER']   = '{{ db_host }}';
$DB['PORT']     = '3306';
$DB['DATABASE'] = 'zabbix';
$DB['USER']     = 'zabbix';
$DB['PASSWORD'] = '{{ db_password }}';

$ZBX_SERVER = '192.168.159.140';  // HAProxy VIP for backend API
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = 'Zabbix-HA';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
