ListenPort=10051
DBHost={{ db_host }}
DBName=zabbix
DBUser=zabbix
DBPassword={{ db_password }}
CacheSize=512M
HistoryCacheSize=256M
TrendCacheSize=128M
ValueCacheSize=256M
LogFile=/var/log/zabbix/zabbix_server.log
PidFile=/run/zabbix/zabbix_server.pid
